* {
    box-sizing: border-box;
}

/* Style the container */
.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: fit-content;
    padding: 20px 30px;
    margin: auto;
    margin-top: 50px;
}

/* Style the headings */
h1,
h2 {
    color: #0a5c48;
}

/* Style paragraphs */
p {
    font-size: 1.2rem;
}

/* Style the list */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e6e6e6;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Style the submit button */
input[type=submit] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #0a5c48;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #acc8c1;
    color: black;
}