{% extends "base.html" %}
{% block title %} Aide {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="fr">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'aide.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aide et Apprentissage - Doodle</title>
</head>

<body>
    <header>
        <h1>Aide et Apprentissage</h1>
        <p>Comment pouvons-nous aider?</p>
        <input type="text" placeholder="Rechercher un article...">
    </header>

    <section id="categories">
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406918/b7ce909b61c1a9944dc4a5b8/038baa21c4d02f9229166ef813648016.png" alt="">
            <h2>À propos de Doodle</h2>
            <p>Tout ce que vous devez savoir pour créer votre compte Doodle et commencer à utiliser Doodle.</p>
            <p>13 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406919/17e3122d28dae13e7ff22e8c/9a6c9548bfccc7c9c9b6739c9cfa5aa4.png" alt="">
            <h2>Sondages de groupe</h2>
            <p>Apprenez à utiliser l'outil de sondage de groupe de Doodle pour planifier facilement des réunions avec un
                groupe de personnes.</p>
            <p>28 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/477546/24b0a65542b36e3d6b834864/824c8bc79d4e7a5278ccb77022c53b31.png" alt="">
            <h2>Planificateur d'événements</h2>
            <p>Articles soutenant la communauté bêta de la Planificateur d'événements de Doodle</p>
            <p>8 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406920/7df9071c6c3b58305254bb33/7137e96bb0e1cf03be4d175ee7389867.png" alt="">
            <h2>Pages de réservation</h2>
            <p>Apprenez à utiliser et à configurer votre page de réservation personnelle pour permettre à d'autres
                personnes de réserver des réunions avec vous selon vos conditions.</p>
            <p>12 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406917/2620e20a2e38216fce83ee88/a077a44e7a1890fefbf65f875ec7fb2d.png" alt="">
            <h2>1:1</h2>
            <p>Apprenez à utiliser l'outil 1:1 de Doodle pour proposer et organiser des réunions individuelles.</p>
            <p>7 articles</p>
        </article>
        <article>
           <img src="https://downloads.intercomcdn.com/i/o/477547/f667e21ccb02f711cd24047c/0798ed7e3e5897897fdd04354c05b08c.png" alt="">
            <h2>Nouveau tableau de bord</h2>
            <p>Articles soutenant le nouveau tableau de bord de Doodle Communauté Beta</p>
            <p>6 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406921/a84c27b80e9a2c252370f4c2/b4fe2e5cd3f5535eb607cd1dc1931957.png" alt="">
            <h2>Facturation et mise à niveau</h2>
            <p>Tout ce que vous devez savoir sur votre abonnement Doodle Professional, y compris la facturation.</p>
            <p>10 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406927/337ed111bcd5d9bb7802b1ec/608ffab5cc42fbb9761e64da4deb13dd.png" alt="">
            <h2>Administrateurs de l'abonnement d'équipe</h2>
            <p>Tout ce que vous devez savoir en tant qu'administrateur d'un abonnement Team, y compris la marque de
                l'entreprise, la gestion des membres et les factures.</p>
            <p>6 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406922/fb6f08b72a26b0bb7fda854a/db87670547a9cbb8d4b71445291b33ee.png" alt="">
            <h2>Sécurité</h2>
            <p>Découvrez nos politiques de sécurité et nos conditions générales.</p>
            <p>8 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406923/9c3918bda752f0a7bf48fb5b/418db4033c9e52155e1b93993bab2ea1.png" alt="">
            <h2>Participation</h2>
            <p>Tout ce que vous devez savoir pour participer aux sondages de groupe et aux entretiens individuels.</p>
            <p>9 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406924/3e5dc03c04af2b267752b498/8112217affed37ff75b978724c824822.png" alt="">
            <h2>Intégrations de calendriers</h2>
            <p>Tout ce que vous devez savoir sur les nombreuses intégrations de Doodle, y compris comment configurer
                votre calendrier et les outils de vidéoconférence.</p>
            <p>11 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406928/83a1f1504ac3ecb31dc1dc55/4a576fad936d359ccf8e6f7fc8a95056.png" alt="">
            <h2>Dépannage</h2>
            <p>Découvrez les solutions aux problèmes les plus courants, comme les mots de passe oubliés, l'activation du
                compte et les problèmes de navigateur.</p>
            <p>13 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/406926/80120d998673759fd8025884/a31df5ce743007949e8759bdae21952b.png" alt="">
            <h2>Doodle pour iOS et Android</h2>
            <p>Tout ce que vous devez savoir sur l'utilisation de l'application Doodle pour votre smartphone.</p>
            <p>11 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/464574/91d61598ee1e6db3261f750f/ef719bf01276cd752795d1754208a478.png" alt="">
            <h2>Ressources</h2>
            <p>Ressources supplémentaires pour tirer le meilleur parti de Doodle</p>
            <p>10 articles</p>
        </article>
        <article>
            <img src="https://downloads.intercomcdn.com/i/o/465613/44b1a9d37065aac308dbd707/1aae476eafec5146a6c7f2560276571a.png" alt="">
            <h2>Contact</h2>
            <p>Tout ce que vous devez savoir pour contacter le support et les ventes de Doodle</p>
            <p>3 articles</p>
        </article>
    </section>
</body>

</html>

{% endblock %}