{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <center>
        <form method="post" action="{% url 'signin' %}">
            {%csrf_token%}
      <div style="margin-left: 44%; margin-bottom: 1%;" class="logo-container">
            <img src="https://downloads.intercomcdn.com/i/o/406918/b7ce909b61c1a9944dc4a5b8/038baa21c4d02f9229166ef813648016.png"
                alt="Doodle Logo" class="logo-img">
            <h2><b>Doodle</b></h2>
        </div>


            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Ravis de vous revoir</h1>
                        <p>Connectez-vous et reprenez la planification en douceur</p>
                        <input type="text" name="username" placeholder="Username or Email" required>
                        <input type="password" name="password" placeholder="Password" required> <br><br>
                        <label class="check">
                            <h5>Keep me logged in</h5>
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <input type="submit" value="Log in">
                        <p style="color: red;"> {{msg}}</p>
                    </div>
                </div>
            </div>
        </form>
    </center>
</body>

</html>
{% endblock %}